@import "~bootstrap/scss/bootstrap.scss";

.coName {
    font-family: 'Kavoon', cursive;
}
.innerSearch {
    font-family: 'Open Sans', sans-serif;
}
.navbar {
    background-color: #ff9a60;
    border-bottom: 1px solid #a52c00;
}
.navbar-brand {
    font-size: 2rem;
}
.innerSearch {
    border-color: #a52c00;
}
.btn {
    border-color: #a52c00;
    background: #a52c00;
}

.jumbo {
    width: 100%;
    height: 400px;
    background: black;
}

.jumboAlt {
    font-size: 100px;
    color: white;
    position: relative;
    top: -200px;
    margin-left: 70%;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em gray;
}

.footer {
    text-align: center;
    background: #ff9a60;
    padding-top: 10px;
    width: 100%;
    height: 75px;
    border-top: 1px solid #a52c00;
}


.footer i {
    color: white;}
.card {
    width: 18rem;
}

.card-text {
    color: white;
}
.card-body {
    background: #8c0252;
}


.footer a {
    color: white;}


  .jumbobgnew {
  background: #ECD3E7;

  }
